.page {
  padding: var(--spacing-xxl) var(--spacing-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.header {
  text-align: center;
  margin-bottom: var(--spacing-xxl);
}

.title {
  font-size: 2.5rem;
  color: var(--color-text);
  letter-spacing: 2px;
}

.highlight {
  color: var(--color-secondary);
  text-shadow: 0 0 10px var(--color-secondary-dim);
}

.subtitle {
  color: var(--color-text-muted);
  margin-top: var(--spacing-sm);
  font-family: monospace;
}

.content {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
}
@media (max-width: 468px) {
  .page {
    padding: var(--spacing-xxl) var(--spacing-xl);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
  }
  .title{
    font-size: 25px;
  }
}
